<footer class="navbar navbar-fixed-bottom">

<div class="container">
  <div class="footer-limiter">
    <div class="footer-group">
      <h5>Quicklinks</h5>
      <li><a href="/about">About Us</a></li>
      <li><a href="/return">Return Policy</a></li>
    </div>

    <div class="footer-group">
      <h5>Follow Us</h5>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Pinterest</li>
        <li>Instagram</li>
      </ul>
    </div>

    <div class="footer-group">
      <h5>Contact</h5>
      <p>1933 S. Broadway St. Ste 1101</p>
      <p>Los Angeles, CA</p>
    </div>

    <div class="footer-group">
      <h5>Newsletter</h5>

    </div>
  </div>
</div>

</footer>
