<!-- header -->

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <h1>uLook.</h1>
  </div>

  <div>
    <!-- Left Align -->
    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-left"><a href="/">Home </a></li>
      <li class="navbar-left"><a href="shop">Shop </a></li>
      <li class="navbar-left"><a href="lookbook">uBook</a></li>
    </ul>
    <!-- Right Align -->
    <ul class="nav navbar-nav navbar-right">
      <li class="right"><a href="login">Log in</a></li>
      <li> or </li>
      <li class="right"><a href="new">Sign up</a></li>
      <i class="icon-large icon-shopping-cart">shop now</i>
    </ul>
  </div>
</nav>
