<!-- header -->

<header id="header" class="">
  <ul>
    <li><h1>uLook.</h1></li>
    <li><a href="home">    Home </a></li>
    <li><a href="shop">    Shop </a></li>
    <li><a href="lookbook">uBook</a></li>
  </ul>
</header>
