
<div>

  <div>
    <h1>ALL about U</h1>
  </div>

  <div>
    <h2>Our bodies are not created equal.</h2>
  </div>

  <div>
    <p>This shopping blog allows you to post our clothing based on you own personal style.  Whether you are thick, thing, curvy or athletic, we believe the same clothing can be worn in different ways and we incite you to show how you wear ours.</p>
  </div>

  <div>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-danger">Danger</button>
  </div>
</div>
