
<div class="container text-center">
  <h1>ALL about U</h1>

    <div>
      <h2>Our bodies are not created equal.</h2>
    </div>

    <div>
      <p>This shopping blog allows you to post our clothing based on you own personal style.  Whether you are thick, thing, curvy or athletic, we believe the same clothing can be worn in different ways and we invite you to show how you wear ours.</p>
    </div>

    <div>
      <button type="button" class="btn btn-danger">Shop Now</button>
      <button type="button" class="btn btn-danger">Browse Blog</button>
    </div>

</div>


